<h1>Bienvenue sur le profil de <%= @user.first_name %> !</h1>
<div class="container col-5">
<p>nom : <%= @user.last_name%></p>
<p>prenom : <%=@user.first_name %></p>
<p>age : <%= @user.age%></p>
<p>mail : <%= @user.email%></p>
<p>city : <%= @user.city.name%></p>
<p>desription : <%=@user.description %></p>